*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}

body{
    background-color:rgb(65, 64, 64);
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 235px;
    height: 100%;
    background: black;
    padding: 25px 0;
    
}

.wrapper .sidebar img{
    width: 60%;
    padding-left: 15px;
    margin-left: 7px;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 8px 15px;
    text-align: justify;
}

.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li i {
    size:7px;
    margin-right: 6px;
}

.wrapper .sidebar ul li:hover a{
    color: whitesmoke;
}

.wrapper .main_content{
    width: 82%;
    margin-left: 235px;  
}

.wrapper .main_content .header{
    display: flex;
    padding: 20px 0px;
    background:rgb(65, 64, 64);
    color: #717171;
    justify-content: space-between;
}

.wrapper .main_content .header .nav-buttons ul li {
    display: block;
    float: left;
    padding: 5px 10px;
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;    
}
.wrapper .main_content .header .nav-buttons ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.wrapper .main_content .header .user{
    display:flex;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 4px 30px;
    
}
.wrapper .main_content .header .info{
    background:rgb(65, 64, 64);
    max-width: 10px;
}

.wrapper .main_content .info .albuns{
    display: flex;
    flex-direction: row;
}
.wrapper .main_content .info .albuns .column{
    width: 50%;
    height: 20%;
}

.wrapper .main_content .info .albuns .column .album{
    display: flex;
    background: #272727;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.min-music{
    width: 20%;
    border-radius: 9px;
}
.wrapper .main_content .info .albuns .column .album h4{
    padding: 8% 5%;
    color: white;
    display: flex;
}
.wrapper .carousel-musicas{
    display:flex;
    background: #272727;
    padding: 15px;
}

.wrapper .titulo{
    font-size: 30px;
    margin: 5px 6px;
    display: block;
    color:white;
}

.box-musicas{
    margin: 0px 2px;
    padding: 0px 6px;
    height: 100%;
    width: 100%;
    display: block;
}

.wrapper .footer{
    display: flex;
    position: fixed;
    width: 100%;
    top:86%;
    padding: auto;
    background:rgb(32, 32, 32);
    border-top: 1px solid gray;
    z-index: 1;
    justify-content: space-between;
    color: white;
}

.wrapper .footer .corrent{
    padding: 38px 0px;
    margin-left: 2% ;
}

.wrapper .footer .player{
    padding: 38px 0px;
}

.wrapper .footer .control{
    padding: 38px 0px;
    margin-right: 2% ;

}